crash.log
packer_cache/
*.pkrvars.hcl
*.box
.DS_Store
AdguardHome.yaml
hosts.yaml
.vscode
_out/
kubeconfig

# Terraform ignore files
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
user-data
proxmox/ansible/playbooks/plex/files/.smbcredentials
proxmox/ansible/playbooks/plex/vars/default.yaml
